.header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-size: calc(10px + 2vmin);
    color: white;
  }